* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* These are called "utility classes" */
/* Search on Google about "TailwindCSS" */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

nav {
  box-shadow: 0 0 4px #c5c5c5;
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  gap: 0.25rem;
  padding: 1rem;
}
.nav-bar {
  gap: 5rem;
  display: flex;
  flex-direction: row;

  margin-right: 5rem;
}

.svg-icon {
  height: 16px;
  width: 16px;
  fill: black;
  stroke: black;
  cursor: pointer;
}

.icon-button {
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
}

.hamburger-menu-button {
  margin-right: auto;
}

.hamburger-menu-button:hover {
  background: rgb(197, 192, 192);
}

.sign-in-button {
  position: relative;
}

.dropdown-menu {
  background-color: #bebebe;
  width: 10rem;
  position: absolute;
  top: calc(100% + 0.5rem);
  display: none;
  flex-direction: column;
  border-radius: 0.5rem;
  z-index: 1;
}

.profile-menu {
  right: 0;
}

.profile-menu > option:hover {
  color: white;
  cursor: pointer;
}

.hamburger-menu {
  left: 0;
}

.sign-in-button:focus-within .dropdown-menu {
  display: flex;
}

.hamburger-menu-button:focus-within .dropdown-menu {
  display: flex;
}

.sign-in,
.search-box {
  height: 1.5rem;
  cursor: pointer;
  width: 30rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  border: none;
  padding: 0.25rem;
  padding-inline: 0.5rem;
}

.hero-banner {
  position: relative;
  display: flex;
}

.hero-banner img {
  width: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero-title {
  color: #00330dad;
  font-size: 14vw;
  text-decoration: underline;
  text-decoration-color: #ecffc6;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0px 0px 4px #8686862d;
  align-items: center;
  border: 1px solid #ededed;
  padding: 0.35rem;
  gap: 0.5rem;
}

.card img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

.paragraph {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.tags {
  display: flex;
  gap: 0.15rem;
  width: 100%;
}

.tag {
  border: 1px solid #c9c9c9;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 1rem;
}

.cards-container {
  display: flex;
  column-gap: 1.5rem;
  row-gap: 5rem;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.back-to-top {
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.get-to-know {
  background-color: #7b7979;
  display: flex;

  padding: 200px;
}
/* footer, h1, h2, h3, p, span, div .... All tags */
/* #id */
/* .class */
/* ::before and ::after pseudo selectors */
a {
  text-decoration: none;
  color: black;
}
.footer-item:hover {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #7b7979;
  color: black;
  text-decoration: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid rgb(91, 76, 76);
  background-color: #7b7979;
  padding: 3rem;
  gap: 2rem;
}

.bhasa {
  background-color: #7b7979;
  border-color: #bebebe;
}

.countery {
  background-color: #7b7979;
  border-color: #bebebe;
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog {
  opacity: 0;
  transform: scale(0);
  transition: all 0.125s allow-discrete;
}

.auth-modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: none;
  background: none;
  margin: 0;
  display: grid;
  place-items: center;
  backdrop-filter: brightness(0.5) blur(3px);
}

.sign-in-form {
  box-shadow: 0 0 2px black;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.sign-in-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.sign-in-index > input {
  border: none;
  box-shadow: 0 0 2px black;
}

.sign-in-index > input,
.sign-in-index > button {
  border-radius: 0.25rem;
}

.sign-in-index > button {
  width: fit-content;
  background-color: #5eac77;
  padding: 0.35rem 1rem;
  text-transform: uppercase;
  color: white;
  border: none;
}
.cross {
  border: none;
  background: none;
}
