* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* These are called "utility classes" */
/* Search on Google about "TailwindCSS" */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

nav {
  box-shadow: 0 0 4px #c5c5c5;
  z-index: 1;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  gap: 0.25rem;
  padding: 1rem;
}

.nav-bar {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: auto;
  font-size: 15px;
  width: fit-content;
}

.nav-bar > a,
.nav-bar > button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-size: 13px;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

.nav-bar > a:hover,
.nav-bar > button:hover {
  background-color: #f0f0f0;
}

.svg-icon {
  height: 16px;
  width: 16px;
  fill: black;
  stroke: black;
  cursor: pointer;
}

.menu-trigger {
  position: relative;
}

.menu-trigger:focus-within .dropdown-menu {
  display: flex;
}

.icon-button {
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
}

.hamburger-menu-button {
  margin-right: auto;
}

.hamburger-menu-button:not(:has(.dropdown-menu:hover)):hover {
  background: rgb(197, 192, 192);
}

.sign-in-button {
  position: relative;
}

.dropdown-menu {
  background-color: #eae4e4;
  position: absolute;
  top: calc(100% + 0.5rem);
  display: none;
  flex-direction: column;
  border-radius: 0.5rem;
  z-index: 1;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-menu > option {
  width: 12rem;
  padding: 0.5rem;
}

.dropdown-menu > option:hover {
  background-color: rgb(220, 217, 217);
  border-radius: 0.25rem;
}

.profile-menu {
  right: 0;
}

.profile-menu > option:hover {
  color: white;
  cursor: pointer;
}

.hamburger-menu {
  left: 0;
}

.sign-in-button:focus-within .dropdown-menu {
  display: flex;
}

.hamburger-menu-button:focus-within .dropdown-menu {
  display: flex;
}

.sign-in,
.search-box {
  height: 1.5rem;
  cursor: pointer;
  width: 30rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  border: none;
  padding: 0.25rem;
  padding-inline: 0.5rem;
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog {
  opacity: 0;
  transform: scale(0);
  transition: all 0.125s allow-discrete;
}

.auth-modal {
  box-shadow: 0 0 2px black;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  border: none;
}

.auth-modal::backdrop {
  backdrop-filter: brightness(0.5) blur(3px);
}

.sign-in-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.sign-in-index > input {
  border: none;
  box-shadow: 0 0 2px black;
}

.sign-in-index > input,
.sign-in-index > button {
  border-radius: 0.25rem;
}

.sign-in-index > button {
  width: fit-content;
  background-color: #5eac77;
  padding: 0.35rem 1rem;
  text-transform: uppercase;
  color: white;
  border: none;
}

.cross {
  border: none;
  background: none;
}

/* footer, h1, h2, h3, p, span, div .... All tags */
/* #id */
/* .class */
/* ::before and ::after pseudo selectors */
a {
  text-decoration: none;
  color: black;
}
