.container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.container > img {
  border-radius: 100%;
  outline: 3px solid rgb(38, 88, 169);
  outline-offset: 2px;
  height: 24px;
  aspect-ratio: 1;
}

.name {
  font-size: 16px;
  text-align: start;
}

.email {
  color: rgb(115, 115, 133);
  text-transform: lowercase;
}

.profile-card {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 1rem;
  width: 18rem;
  overflow: hidden;
  background-color: white;
}

.log-out {
  display: flex;
  gap: 0.5rem;
  border: none;
  width: 100%;
  padding: 1rem;
  background: none;
}

.log-out:hover {
  background-color: rgb(244, 244, 244);
}

.log-out > img {
  height: 16px;
}
